
.MainContainer {
    width: 100%;
    height: 100%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--PrimaryText) !important;
}

code, h3 {
    margin: 0;
    padding: 0;
}
.buddha pre {
    line-height: 0.95;

}
.buddha code {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1em;
    font-weight: 700;
}

@media screen and (max-width: 500px) {
    .buddha code {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 280px) {
    .buddha code {
        font-size: 0.6em;
    }
}