.MainContainer {
    height: 100%;
    padding-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.MainContainer div {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

.successAlert {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--PrimaryBackground);
    color: var(--PrimaryText);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 56789;
    visibility: hidden;
    transform: scale(0.9);
    opacity: 0;
    transition: all .3s ease-in-out;
}
.successAlert.show {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
}
.successAlert p {
    margin: 0;
}
#successVideo {
    width: 100%;
    max-height: 50%;
}