/*
  index.css
  GJ_StampTour

  Created by Js Na on 2023/12/20.
  Copyright © 2023 Js Na, All rights reserved.
*/
body {
    width: 100%;
    height: 100%;
    touch-action: none;
    -webkit-touch-callout: none;
}

#GuideModalContainer {
    z-index: 56789;
}

.bi-x {
    width: 75%;
    height: 75%;
    position: absolute;
}

.GuideContainer {
    padding: 1em;
    box-sizing: border-box;
}

.FooterContainer {
    display: flex;
    width: 100%;
    left: 0;
    bottom: 0;
}

#GuideHint {
    margin: 0;
    word-break: keep-all;
}

.GuideVideo {
    width: 100%;
    max-height: 45vh;
}

.LinkButton {
    margin: 0;
    padding: 0;
    font-size: 1.2em;
    background: none;
    border: none;
    color: #007aff;
}

.LongButton {
    background-color: #4E7CF1;
    color: #FFFFFF;
    font-size: 1.5em;
    font-weight: 800;
    width: 100%;
    height: 2em;
    border: none;
    border-radius: 10px;
    margin: 0 1em 1em;
    transition: background-color 0.2s ease-in-out;
}

.LongButton:disabled {
    background-color: #A0A0A0;
}

.GuideText {
    margin: 0.3em;
    text-align: center;
    word-break: keep-all;
}

#PrivacyPolicyCheckboxContainer {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#ClassInfoModal {
    position: relative;
    padding: 0;
}

.GradientBlurView {
    position: absolute;
    width: 100%;
    height: 40%;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    pointer-events: none;
    background: linear-gradient(to top, 
              rgba(var(--gradientBackground), 1) 0%,
              rgba(var(--gradientBackground), 0.738) 19%,
              rgba(var(--gradientBackground), 0.541) 34%,
              rgba(var(--gradientBackground), 0.382) 47%,
              rgba(var(--gradientBackground), 0.278) 56.5%,
              rgba(var(--gradientBackground), 0.194) 65%,
              rgba(var(--gradientBackground), 0.126) 73%,
              rgba(var(--gradientBackground), 0.075) 80.2%,
              rgba(var(--gradientBackground), 0.042) 86.1%,
              rgba(var(--gradientBackground), 0.021) 91%,
              rgba(var(--gradientBackground), 0.008) 95.2%,
              rgba(var(--gradientBackground), 0.002) 98.2%,
              rgba(var(--gradientBackground), 0) 100%);
}

.GradientBlurView>div {
    position: absolute;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.GradientBlurView>div>div {
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform: translate3d(0, 0, 0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0, 0, 0);
    transform: translateZ(0);
    position: absolute;
    left: 0;
    width: 100%;
    will-change: backdrop-filter;
}

#ModalBackgroundView {
    position: relative;
    width: 100%;
    height: 30vh;
    min-height: 10rem;
    max-height: 50rem;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    overflow: hidden;
}

#StampBackgroundImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}

#ModalHeaderView {
    width: 100%;
    position: absolute;
    z-index: 1;
    bottom: 0;
    padding: 0 1rem;
    box-sizing: border-box;
}

.ModalTitleContainer {
    display: flex;
    justify-content: space-between;
}

#ModalContentView {
    position: relative;
    padding: 1rem;
    box-sizing: border-box;
}

#ClassInfoModalTitle {
    margin: 0;
    font-size: 1.2em;
    font-weight: 300;
}

#CMStampDesc {
    margin-top: 0.3em;
}

#CMStampStatus {
    display: inline-block;
    margin-bottom: 0.2em;
    padding: 0.2em 0.4em;
}

#CMStampStatus.checked {
    opacity: 1;
    color: var(--green) !important;
}

#CMStampType {
    display: inline-block;
    margin-bottom: 0.2em;
    border-radius: 9999px;
    padding: 0.2em 0.4em;
    color: #000000;
}

#CMStampType.gongyeon {
    background-color: var(--red);
    filter: brightness(1.7);
}

#CMStampType.jeonsi {
    background-color: var(--link);
    color: #ffffff;
}

#CMStampType.jeonsicheheom {
    background-color: var(--green);
}

#CMStampType.cheheom {
    background-color: var(--yellow);
}

#GuideText {
    font-weight: 600;
}

#UserRegisterContainer {
    margin: 5em 0;
}

.UserRegisterInput {
    display: none;
    opacity: 0;
    width: 100%;
    border: 1px solid #AFAFAF;
    border-radius: 25px;
    font-size: 1.3em;
    margin: 0.5em 0;
    padding: 0.2em;
    box-sizing: border-box;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.UserRegisterInput.show {
    opacity: 1;
}

.UserRegisterInput:focus {
    border: 1px solid #4E7CF1;
    outline: 1px solid #4E7CF1;
}

#ReplayButtonContainer {
    visibility: hidden;
    text-align: center;
}

.BottomContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    bottom: 0;
    padding: 5em 1em;
    box-sizing: border-box;
}

.BottomContainer.right {
    right: 0;
}

.BottomContainer.left {
    left: 0;
}

.BottomContainer a {
    width: 5em;
    background-color: #4E7CF1;
    border: 2px solid #ffffff;
    text-align: center;
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 100px;
    color: #ffffff;
    font-weight: 700;
    transition: all 0.2s ease-in-out;
}

.BottomContainer a:focus {
    outline: none;
}

#FloorSelect {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.8em;
}

#FloorSelect a {
    background-color: var(--SecondaryBackground);
    color: var(--PrimaryText);
    margin-bottom: 0.2em;
    border: 2px solid #4E7CF1;
}

#FloorSelect a.selected {
    background-color: #4E7CF1;
    border: 2px solid #ffffff;
    color: #ffffff;
    margin-bottom: 0.2em;
}

.MapContainer {
    width: 100%;
    height: 100%;
}

.MapContainer * {
    font-family: 'KoddiUD OnGothic', sans-serif !important;
}

.MapContainer svg {
    width: 1200px;
    /* 1140px; */
    height: 1550px;
    visibility: hidden;
    position: absolute;
    background: none;
    touch-action: pan-x pan-y;
}


#MainMapView {
    background-color: var(--PrimaryBackground);
    overflow: hidden;
    width: 1400px;
    height: 1400px;
}

.MapContainer svg.active {
    visibility: visible;
}

.map {
    width: 1400px;
    height: 1400px;
}

svg text {
    font-size: 1.6em;
    font-weight: bold;
    fill: var(--PrimaryText);
    stroke: none;
    text-anchor: middle;
    /* dominant-baseline: middle; */
    dominant-baseline: central;
}

.verticalText {
    -webkit-text-orientation: upright;
    writing-mode: vertical-rl;
    text-orientation: upright;
}

.small {
    font-size: 1.3em;
}

text.extraSmall {
    font-size: 1em;
}


rect {
    stroke: #809bf3;
}

.classroom {
    fill: #4E7CF1;
}

.classroom text {
    fill: #ffffff;
}

.notClassroom {
    fill: #4E7CF133;
}

.hallway {
    fill: #aaaaaa55;
    stroke: none;
}

.node {
    fill: #F73663;
    visibility: hidden;
}

.entranceSpace {
    fill: #4E7CF1;
}

.entranceUp {
    fill: url(#EntranceUpGradient);
}

.entranceDown {
    fill: url(#EntranceDownGradient);
}

.entranceRight {
    fill: url(#EntranceRightGradient);
}

.entranceClosed {
    filter: grayscale(1);
}

.EntranceGradient1 {
    stop-color: #4E7CF1;
}

.EntranceGradient2 {
    stop-color: #4E7CF100;
}

.stairs {
    fill: #f7366390;
}

.StampView {
    background-color: #2C2C2E;
    color: #FFFFFF;
    width: 100%;
    height: 5em;
    position: fixed;
    border-radius: 30px 30px 0 0;
    bottom: 0;
    padding: 0 1em 1em 1em;
    box-sizing: border-box;
    transition: all 0.5s ease;
    z-index: 9999;
    overflow: hidden;
}

.StampViewTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.StampViewTitle button,
.StampViewTitle a {
    margin-top: 0.5em;
}

.stampList {
    width: 100%;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding: 1em;
}

.stampList div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.stampList div span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 3.5em;
}

.stampList div span * {
    margin: 0;
    padding: 0;
}

.stampList div span p {
    opacity: 0.5;
}

.stamp {
    width: 100%;
    height: 4em;
    filter: grayscale(100%);
}

.stamp.checked {
    filter: grayscale(0%);
}

.stamp.checked img.CheckMark {
    opacity: 1;
}

.stamp img {
    height: 3em;
    position: absolute;
}

.stamp img.CheckMark {
    opacity: 0;
    transition: all 0.5s ease;
}

.StampView.open {
    height: 80%;
}

.StampView .stampList {
    display: flex;
}

.BottomLinkContainer {
    visibility: hidden;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5em 0;
    background-color: #2C2C2E;
    text-align: center;
    transition: all 0.2s ease 0.3s;
    transform: translateY(3em);
}

.BottomLinkContainer a {
    margin: 0 0.5em;
}

.StampView.open .BottomLinkContainer {
    position: fixed;
    visibility: visible;
    transform: translateY(0);
}

/* GALAXY FOLD */
@media (max-width: 280px) {
    .stampList div span h2 {
        font-size: 1.2em;
    }

    .stampList div span p {
        font-size: 0.9em;
    }

    .LinkButton {
        font-size: 1em;
    }

    .GuideText {
        font-size: 1em;
    }
}

@media (max-height: 670px) {
    .GuideVideo {
        max-height: 35vh;
    }

    .GuideContainer {
        padding: 0.5em;
    }

    #UserRegisterContainer {
        margin: 2em 0;
    }
}

@media (prefers-color-scheme: dark) {
    .classroom {
        fill: #4E7CF19F;
    }

    .notClassroom {
        fill: #4E7CF140;
    }
}