.MainContainer {
    height: 100%;
    padding-top: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    flex-wrap: wrap;
}

.Card {
    width: 100%;
    height: 13em;
    max-width: 500px;
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 1em;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

.Card h3 {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

.Card span>p {
    font-size: 1em;
    opacity: 0.5;
}
.Card p {
    margin: 0;
    padding: 0;
    text-align: left;
}
.Card>p {
    font-size: 1.2em;
    border-left: 5px solid #007aff;
    padding-left: 10px;
}

.Card .LinkContainer {
    margin-top: 1em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.Card .LinkContainer a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1em;
}

.Card .LinkContainer img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

/* GALAXY FOLD */
@media (max-width: 280px) {
    .Card p {
        font-size: 1em;
    }
    a>p {
        display: none;
    }
}